<% if @links != nil %>
    <% @links.each do |link| %>
        <p><%= link.name %></p>
        <p><%= link.vote.count %></p>
        <p><%= "voter:" %>
          <% link.vote.each do |name| %>
              <%= name %>
          <% end %>
        </p>

    <% end %>
<% end %>

<p><%= link_to "Set up vote", links_path %></p>
<p><%= link_to "Reset", master_reset_path %></p>
